.ticket {
  font-family: 'Verdana';
  display: inline-block;
  font-size: 30px;

  background-color: #ccc;
  color: white;
  padding: 10px;
  margin: 5px;
  text-shadow: 0px 1px 1px #999;
  box-sizing: border-box;
  border-radius: 16px;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

.swal2-container.swal2-backdrop-show {
  z-index: 2;
}

.input {
  width: 300px;
  height: 115px;
  margin: 50px auto;

  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  -webkit-box-shadow: 0px 0px 6px 0px #000;
  box-shadow: 0px 0px 6px 0px #000;
}

textarea {
  margin: 10px auto;
  resize: none;
  height: 300px;
  width: 500px;
  overflow: hidden;
}

.load {
  border: 1px solid grey;
  width: 60px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  background: #9fd4d4;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

.load:hover {
  background: palegreen;
}

.loading {
  width: 675px;
  text-align: center;
  margin: 50px auto;
  color: rgba(255, 255, 255, 0.5);
  font-size: 200px;
}

body {
  padding: 0;
  margin: 0;
  /*overflow: hidden;*/
  background: #f0f0f0;
}

#participant-number {
  display: inline-block;
  text-align: right;
}

.quote {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 6px 0px #000;
  box-shadow: 0px 0px 6px 0px #000;
  width: 400px;
  margin: 10px auto;
  position: relative;
}

.header {
  width: 100%;
}

.header > span {
  font-family: 'Verdana';
  color: whitesmoke;
  font-size: 20px;
  margin-left: 14px;
  line-height: 50px;
}

.header > span {
  color: white;
}

.author {
  float: left;
  display: block;
  height: 22px;
  margin-left: 10px;
}

.topic {
  float: right;
  display: block;
  height: 22px;
  margin-right: 10px;
}

.quote-content {
  text-align: justify;
  padding: 7px;
}
